streamlit==1.51.0
pandas==2.2.3
numpy==1.26.4

# CTGAN ecosystem
ctgan==0.10.1
sdv==1.15.0
rdt==1.12.1

# Data profiling
ydata-profiling==4.18.0

# Utilities
Faker==22.6.0
scikit-learn==1.4.2

# PyArrow
pyarrow==15.0.2
